.divMain {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.divColor {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF2FA 100%);
    height: 45%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
    border-bottom: solid 2px #D60078;
    /* position: relative;
    z-index: 1; */
}

.divCircleL {
    width: 363px;
    height: 363px;
    flex-shrink: 0;
    border-radius: 263px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F9D9EB 90%);
    /* transform: translate(-135%, 10%); */
}

.divCircleR {
    width: 242px;
    height: 242px;
    flex-shrink: 0;
    border-radius: 263px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F9D9EB 150%);
    /* transform: translate(175%, -50%); */
}

/* .divFormMain {
    border: solid 1px blue;
} */

 /* .actions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.actions button {
    border: transparent;
}

.actions button > span {
    background: #D60078;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 13px 120px;
    border-radius: 14px;
} */

.divArrow {
    border-radius: 24px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background: #D60078;
    text-align: center;
    border: solid 2px  #FFF2FA;
    /* position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%; 
    transform: translateX(-50%);
    transform: translateY(-50%); */
}

.divArrow svg {
    margin-top: 3px; 
}

.divBottom {
    height: 45%;
    width: 100%;
    background: #fff;
    /* position: relative;
    z-index: 1; */

}

.divProgres {
    width: 100vw;
    background: #000;
    height: 10%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.divProgresStars {
    width: 60%;
    height: 15px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;
}